body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3em;
  font-style: italic;
  font-weight: 800;
  letter-spacing: -0.03em;
}

a {
  color: #333;
  text-decoration: none;
}

.body-wrapper {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.logo {
  display: block;
  margin-right: auto;
  margin-bottom: 23px;
  margin-left: auto;
  padding-right: 4px;
  padding-left: 4px;
  color: #333;
  text-align: left;
}

.logo__subtext {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.logo__header {
  color: #f499b0;
  font-size: 36px;
  text-transform: uppercase;
}

.dom-body {
  height: 100%;
}

.body-wrapper__inner {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  min-height: 100%;
}

.dom-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 51px;
  padding-bottom: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projects-list {
  max-width: 520px;
  padding-top: 39px;
  padding-bottom: 23px;
}

.project-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
}

.project-card:active {
  background-color: #f6f6f6;
  opacity: 0.94;
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
}

.contact-box__item {
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.section__header {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section__inner {
  margin-bottom: 36px;
  padding: 19px 28px;
}

.project-card__header {
  margin-top: -8px;
  margin-bottom: 6px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.project-card__short-text {
  line-height: 1.33em;
}

.project-card__right-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 20px 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.project-card__cover {
  width: 150px;
  min-height: 150px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: url('../images/crossxtoys-cover.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-card__cover.is-behance {
  background-image: url('../images/iWd3byBLJ142Vxd7Vf9B7w-BehanceLogoSquare-1.png');
}

.project-card__cover.is-bialowieza {
  background-image: url('../images/8ef8a254396543.Y3JvcCw2MTgsNDgzLDI5OSw1OTY.jpg');
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project-card__call-to-action {
  margin-top: 5px;
  color: #727272;
  font-size: 13px;
  line-height: 1.33em;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.language-switcher {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 11px;
}

.language-switcher__tab-holder {
  padding: 17px 12px;
  font-size: 13px;
  text-transform: uppercase;
}

.lanuage-switcher__tab-button {
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: #979797;
}

.lanuage-switcher__tab-button.is-current {
  border-bottom-color: #e6e6e6;
  color: #2e2e2e;
  font-weight: 600;
}

.project-header {
  padding-right: 20px;
  padding-bottom: 75px;
  padding-left: 20px;
  text-align: center;
  text-transform: uppercase;
}

.project-heading__title-text {
  display: block;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-size: 103px;
  line-height: 0.8em;
  font-style: italic;
  font-weight: 800;
  letter-spacing: -0.05em;
}

.project-description__inner {
  display: block;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.project-description__image {
  display: block;
  max-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.project-description__image-holder {
  margin-bottom: 80px;
}

.project-description__image-caption {
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
}

.project-heading__subtext {
  display: block;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 14px;
  padding-bottom: 14px;
}

@media (max-width: 767px) {
  .dom-content-wrapper {
    padding-top: 72px;
  }
  .language-switcher {
    padding-right: 4px;
  }
  .language-switcher__tab-holder {
    padding: 9px 7px;
    font-size: 13px;
  }
}

@media (max-width: 479px) {
  .logo {
    text-align: center;
  }
  .projects-list {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .project-card__short-text {
    font-size: 13px;
  }
  .project-card__right-side {
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .project-card__cover {
    width: 100px;
  }
  .project-card__call-to-action {
    font-size: 13px;
  }
  .language-switcher {
    left: 0px;
    top: 0px;
    right: 0px;
    padding-right: 0px;
    padding-left: 9px;
    text-align: center;
  }
  .language-switcher__tab-holder {
    font-size: 12px;
  }
  .project-header {
    padding-bottom: 40px;
  }
  .project-heading__title-text {
    font-size: 41px;
  }
  .project-heading__subtext {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

